.SliderRoot {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 100%;
}

.SliderTrack {
    background-color: var(--color-input-border);
    position: relative;
    border-radius: 9999px;
    height: 8px;
    width: 100%;
}

.SliderRange {
    position: absolute;
    background-color: var(--color-primary);
    border-radius: 9999px;
    height: 100%;
}

.SliderThumb {
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--color-primary);
    border-radius: 9999px;
    top: -6px;
}

.SliderThumb:hover {
    box-shadow: 0 0 0 5px var(--color-primary-darker);
}

.SliderThumb:focus {
    outline: none;
    box-shadow: 0 0 0 5px var(--color-primary-darker);
}

.SliderLabel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
