.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.checkbox__control {
    height: 24px;
    width: 24px;
    border-radius: 6px;
    border: 1px solid var(--color-input-border);
    background-color: var(--color-input-background);
}

.checkbox__input:focus-visible + .checkbox__control {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
}

.checkbox__control[data-checked] {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-checkbox);
}

.checkbox__label {
    margin-left: 6px;
    font-size: var(--text-base);
    user-select: none;
    cursor: pointer;
}
