.FileField {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    /*height: 200px;*/
    min-height: 200px;
    width: 100%;
    row-gap: 5px;
}

.FileField__label {
    color: var(--color-default);
    /*font-size: 14px;*/
    font-weight: 500;
    user-select: none;
}

.FileField__dropzone {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--color-input-border);
    width: 100%;
    min-height: 160px;
    color: var(--color-default);
    border-radius: var(--radius-md);
    background-color: var(--color-input-background);
}

.FileField__trigger {
    /*background-color: hsl(201 96% 32%);*/
    /*color: white;*/
    padding: 5px 10px;
    /*border-radius: 4px;*/
}

.FileField__itemList {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
}

.FileField__item {
    width: 100%;
    display: grid;
    padding: 16px;
    column-gap: 10px;
    border-radius: 6px;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        "preview name delete"
        "preview size delete";
    column-gap: 5px;
    border: 1px solid var(--color-primary);
    padding: 10px;
}

.FileField__itemPreview {
    grid-area: preview;
}

.FileField__itemPreviewImage {
    width: 50px;
    object-fit: scale-down;
    height: auto;
    aspect-ratio: 1;
}

.FileField__itemName {
    grid-area: name;
    font-size: 14px;
    color: var(--color-default);
}

.FileField__itemSize {
    grid-area: size;
    font-size: 14px;
    color: var(--color-muted);
}

.FileField__itemDeleteTrigger {
    grid-area: delete;
    cursor: pointer;
    background-color: var(--color-error);
    color: var(--color-error-light);
    padding: 2px 8px;
    border-radius: 4px;
    height: max-content;
    align-self: center;
}
