@import "tailwindcss";

@plugin "daisyui" {
    /* biome-ignore lint/correctness/noUnknownProperty: tailwindcss plugin */
    themes: all;
}

html,
body {
    /*@apply bg-gray-800;*/
}

body {
    font-family:
        "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.1rem;
    /*@apply text-base-content/70;*/
}

h1 {
    /*@apply text-base-content/100;*/
}

code {
    font-family:
        "Roboto Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.code {
    @apply bg-primary text-primary-content;
}
